@font-face {font-family: "iconfont";
  src: url('../font/icon.eot'); /* IE9 */
  src: url('../font/icon.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/icon.woff') format('woff'),
  url('../font/icon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/icon.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paihangbang1:before {
  content: "\e611";
}

.icon-baojiaquotation:before {
  content: "\e63a";
}

.icon-baojiaquotation2:before {
  content: "\e63c";
}

.icon-angle-right:before {
  content: "\e60b";
}

.icon-info-circle:before {
  content: "\e819";
}

.icon-question-circle:before {
  content: "\e81a";
}

.icon-sync:before {
  content: "\e81b";
}

.icon-undo:before {
  content: "\e81c";
}

.icon-redo:before {
  content: "\e81d";
}

.icon-reload:before {
  content: "\e81e";
}

.icon-reloadtime:before {
  content: "\e81f";
}

.icon-message:before {
  content: "\e820";
}

.icon-dashboard:before {
  content: "\e821";
}

.icon-logout:before {
  content: "\e822";
}

.icon-adduser:before {
  content: "\e823";
}

.icon-user:before {
  content: "\e824";
}

.icon-team:before {
  content: "\e825";
}

.icon-sever:before {
  content: "\e826";
}

.icon-mobile:before {
  content: "\e827";
}

.icon-tablet:before {
  content: "\e828";
}

.icon-alert:before {
  content: "\e829";
}

.icon-delete:before {
  content: "\e82a";
}

.icon-hourglass:before {
  content: "\e82b";
}

.icon-bulb:before {
  content: "\e82c";
}

.icon-bell:before {
  content: "\e82d";
}

.icon-trophy:before {
  content: "\e82e";
}

.icon-like:before {
  content: "\e82f";
}

.icon-unlock1:before {
  content: "\e830";
}

.icon-lock:before {
  content: "\e831";
}

.icon-customerservice:before {
  content: "\e832";
}

.icon-calendar:before {
  content: "\e833";
}

.icon-scan:before {
  content: "\e834";
}

.icon-laptop:before {
  content: "\e835";
}

.icon-cloud:before {
  content: "\e836";
}

.icon-cloud-download:before {
  content: "\e837";
}

.icon-notification:before {
  content: "\e838";
}

.icon-sound:before {
  content: "\e839";
}

.icon-radarchart:before {
  content: "\e83a";
}

.icon-qrcode:before {
  content: "\e83b";
}

.icon-fund:before {
  content: "\e83c";
}

.icon-image:before {
  content: "\e83d";
}

.icon-mail:before {
  content: "\e83e";
}

.icon-idcard:before {
  content: "\e83f";
}

.icon-heart:before {
  content: "\e840";
}

.icon-error:before {
  content: "\e841";
}

.icon-star:before {
  content: "\e842";
}

.icon-attachment:before {
  content: "\e843";
}

.icon-edit:before {
  content: "\e844";
}

.icon-tag:before {
  content: "\e845";
}

.icon-tags:before {
  content: "\e846";
}

.icon-info-circle-fill:before {
  content: "\e847";
}

.icon-frown-fill:before {
  content: "\e848";
}

.icon-meh-fill:before {
  content: "\e849";
}

.icon-smile-fill1:before {
  content: "\e84a";
}

.icon-heart-fill:before {
  content: "\e84b";
}

.icon-dashboard-fill:before {
  content: "\e84c";
}

.icon-message-fill:before {
  content: "\e84d";
}

.icon-layout-fill:before {
  content: "\e853";
}

.icon-appstore-fill:before {
  content: "\e854";
}

.icon-mobile-fill:before {
  content: "\e855";
}

.icon-tablet-fill:before {
  content: "\e856";
}

.icon-book-fill:before {
  content: "\e857";
}

.icon-image-fill:before {
  content: "\e860";
}

.icon-idcard-fill:before {
  content: "\e861";
}

.icon-creditcard-fill:before {
  content: "\e862";
}

.icon-fund-fill:before {
  content: "\e863";
}

.icon-read-fill:before {
  content: "\e864";
}

.icon-contacts-fill:before {
  content: "\e865";
}

.icon-delete-fill:before {
  content: "\e866";
}

.icon-notification-fill:before {
  content: "\e867";
}

.icon-flag-fill:before {
  content: "\e868";
}

.icon-shopping-fill:before {
  content: "\e869";
}

.icon-skin-fill:before {
  content: "\e86a";
}

.icon-sound-fill:before {
  content: "\e86b";
}

.icon-bulb-fill:before {
  content: "\e86c";
}

.icon-bell-fill:before {
  content: "\e86d";
}

.icon-filter-fill1:before {
  content: "\e86e";
}

.icon-fire-fill:before {
  content: "\e86f";
}

.icon-gift-fill:before {
  content: "\e870";
}

.icon-home-fill1:before {
  content: "\e871";
}

.icon-trophy-fill:before {
  content: "\e872";
}

.icon-location-fill:before {
  content: "\e873";
}

.icon-cloud-fill:before {
  content: "\e874";
}

.icon-customerservice-fill:before {
  content: "\e875";
}

.icon-eye-fill:before {
  content: "\e876";
}

.icon-like-fill:before {
  content: "\e877";
}

.icon-unlike-fill:before {
  content: "\e878";
}

.icon-star-fill:before {
  content: "\e879";
}

.icon-alert-fill:before {
  content: "\e87a";
}

.icon-edit-fill:before {
  content: "\e87b";
}

.icon-pushpin-fill:before {
  content: "\e87c";
}

.icon-thunderbolt-fill:before {
  content: "\e87d";
}

.icon-tag-fill:before {
  content: "\e87e";
}

.icon-tags-fill:before {
  content: "\e87f";
}

.icon-crown-fill:before {
  content: "\e880";
}

.icon-alibaba:before {
  content: "\e881";
}

.icon-alibabacloud:before {
  content: "\e882";
}

.icon-antdesign:before {
  content: "\e883";
}

.icon-ant-cloud:before {
  content: "\e884";
}

.icon-behance:before {
  content: "\e885";
}

.icon-googleplus:before {
  content: "\e886";
}

.icon-medium:before {
  content: "\e887";
}

.icon-google:before {
  content: "\e888";
}

.icon-IE:before {
  content: "\e889";
}

.icon-amazon:before {
  content: "\e88a";
}

.icon-slack:before {
  content: "\e88b";
}

.icon-alipay:before {
  content: "\e88c";
}

.icon-taobao:before {
  content: "\e88d";
}

.icon-zhihu:before {
  content: "\e88e";
}

.icon-HTML:before {
  content: "\e88f";
}

.icon-linkedin:before {
  content: "\e890";
}

.icon-yahoo:before {
  content: "\e891";
}

.icon-facebook:before {
  content: "\e892";
}

.icon-skype:before {
  content: "\e893";
}

.icon-CodeSandbox:before {
  content: "\e894";
}

.icon-chrome:before {
  content: "\e895";
}

.icon-codepen:before {
  content: "\e896";
}

.icon-aliwangwang:before {
  content: "\e897";
}

.icon-apple:before {
  content: "\e898";
}

.icon-android:before {
  content: "\e899";
}

.icon-sketch:before {
  content: "\e89a";
}

.icon-Gitlab:before {
  content: "\e89b";
}

.icon-dribbble:before {
  content: "\e89c";
}

.icon-instagram:before {
  content: "\e89d";
}

.icon-reddit:before {
  content: "\e89e";
}

.icon-windows:before {
  content: "\e89f";
}

.icon-yuque:before {
  content: "\e8a0";
}

.icon-Youtube:before {
  content: "\e8a1";
}

.icon-Gitlab-fill:before {
  content: "\e8a2";
}

.icon-dropbox:before {
  content: "\e8a3";
}

.icon-dingtalk:before {
  content: "\e8a4";
}

.icon-android-fill:before {
  content: "\e8a5";
}

.icon-apple-fill:before {
  content: "\e8a6";
}

.icon-HTML-fill:before {
  content: "\e8a7";
}

.icon-windows-fill:before {
  content: "\e8a8";
}

.icon-QQ:before {
  content: "\e8a9";
}

.icon-twitter:before {
  content: "\e8aa";
}

.icon-skype-fill:before {
  content: "\e901";
}

.icon-weibo1:before {
  content: "\e902";
}

.icon-yuque-fill:before {
  content: "\e903";
}

.icon-Youtube-fill:before {
  content: "\e904";
}

.icon-yahoo-fill:before {
  content: "\e905";
}

.icon-wechat-fill:before {
  content: "\e906";
}

.icon-chrome-fill:before {
  content: "\e907";
}

.icon-alipay-circle-fill:before {
  content: "\e908";
}

.icon-aliwangwang-fill:before {
  content: "\e909";
}

.icon-behance-circle-fill:before {
  content: "\e90a";
}

.icon-amazon-circle-fill:before {
  content: "\e90b";
}

.icon-codepen-circle-fill:before {
  content: "\e90c";
}

.icon-CodeSandbox-circle-f:before {
  content: "\e90d";
}

.icon-dropbox-circle-fill:before {
  content: "\e90e";
}

.icon-github-fill:before {
  content: "\e90f";
}

.icon-dribbble-circle-fill:before {
  content: "\e910";
}

.icon-googleplus-circle-f:before {
  content: "\e911";
}

.icon-medium-circle-fill:before {
  content: "\e912";
}

.icon-QQ-circle-fill:before {
  content: "\e913";
}

.icon-IE-circle-fill:before {
  content: "\e914";
}

.icon-google-circle-fill:before {
  content: "\e915";
}

.icon-dingtalk-circle-fill:before {
  content: "\e916";
}

.icon-sketch-circle-fill:before {
  content: "\e917";
}

.icon-slack-circle-fill:before {
  content: "\e918";
}

.icon-twitter-circle-fill:before {
  content: "\e919";
}

.icon-taobao-circle-fill:before {
  content: "\e91a";
}

.icon-weibo-circle-fill:before {
  content: "\e91b";
}

.icon-zhihu-circle-fill:before {
  content: "\e91c";
}

.icon-reddit-circle-fill:before {
  content: "\e91d";
}

.icon-alipay-square-fill:before {
  content: "\e91e";
}

.icon-dingtalk-square-fill:before {
  content: "\e91f";
}

.icon-CodeSandbox-square-f:before {
  content: "\e920";
}

.icon-behance-square-fill:before {
  content: "\e921";
}

.icon-amazon-square-fill:before {
  content: "\e922";
}

.icon-codepen-square-fill:before {
  content: "\e923";
}

.icon-dribbble-square-fill:before {
  content: "\e924";
}

.icon-dropbox-square-fill:before {
  content: "\e925";
}

.icon-facebook-fill:before {
  content: "\e926";
}

.icon-googleplus-square-f:before {
  content: "\e927";
}

.icon-google-square-fill:before {
  content: "\e928";
}

.icon-instagram-fill:before {
  content: "\e929";
}

.icon-IE-square-fill:before {
  content: "\e92a";
}

.icon-medium-square-fill:before {
  content: "\e92b";
}

.icon-linkedin-fill:before {
  content: "\e92c";
}

.icon-QQ-square-fill:before {
  content: "\e92d";
}

.icon-reddit-square-fill:before {
  content: "\e92e";
}

.icon-twitter-square-fill:before {
  content: "\e92f";
}

.icon-sketch-square-fill:before {
  content: "\e930";
}

.icon-slack-square-fill:before {
  content: "\e931";
}

.icon-taobao-square-fill:before {
  content: "\e932";
}

.icon-weibo-square-fill:before {
  content: "\e933";
}

.icon-zhihu-square-fill:before {
  content: "\e934";
}

.icon-comment:before {
  content: "\e935";
}

.icon-caret-down:before {
  content: "\e936";
}

.icon-backward:before {
  content: "\e937";
}

.icon-caret-up:before {
  content: "\e938";
}

.icon-caret-right:before {
  content: "\e939";
}

.icon-caret-left:before {
  content: "\e93a";
}

.icon-fast-backward:before {
  content: "\e93b";
}

.icon-forward:before {
  content: "\e93c";
}

.icon-fast-forward:before {
  content: "\e93d";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-anquan:before {
  content: "\e8ad";
}

.icon-dianzan:before {
  content: "\e8ae";
}

.icon-dianyingpiao:before {
  content: "\e8af";
}

.icon-dingdan:before {
  content: "\e8b0";
}

.icon-gengduo:before {
  content: "\e8b1";
}

.icon-faxian:before {
  content: "\e8b2";
}

.icon-fenxiang:before {
  content: "\e8b3";
}

.icon-huatifuhao:before {
  content: "\e8b4";
}

.icon-huiyuan:before {
  content: "\e8b5";
}

.icon-jianshao:before {
  content: "\e8b6";
}

.icon-huati:before {
  content: "\e8b7";
}

.icon-guanzhu:before {
  content: "\e8b8";
}

.icon-maiyizengyi:before {
  content: "\e8b9";
}

.icon-mima:before {
  content: "\e8ba";
}

.icon-nan:before {
  content: "\e8bb";
}

.icon-nv:before {
  content: "\e8bc";
}

.icon-lihe:before {
  content: "\e8bd";
}

.icon-paihangbang:before {
  content: "\e8be";
}

.icon-pengyouquan:before {
  content: "\e8bf";
}

.icon-mingxinghuodong:before {
  content: "\e8c0";
}

.icon-saoyisao:before {
  content: "\e8c1";
}

.icon-rili:before {
  content: "\e8c2";
}

.icon-pinglun:before {
  content: "\e8c3";
}

.icon-riqian:before {
  content: "\e8c4";
}

.icon-shandian:before {
  content: "\e8c5";
}

.icon-shaixuan:before {
  content: "\e8c6";
}

.icon-shangquan:before {
  content: "\e8c7";
}

.icon-shanchu:before {
  content: "\e8c8";
}

.icon-shezhi:before {
  content: "\e8c9";
}

.icon-shequ:before {
  content: "\e8ca";
}

.icon-shengyin:before {
  content: "\e8cb";
}

.icon-shoucang:before {
  content: "\e8cc";
}

.icon-shouji:before {
  content: "\e8cd";
}

.icon-shouye:before {
  content: "\e8ce";
}

.icon-shuaxin:before {
  content: "\e8cf";
}

.icon-sousuo:before {
  content: "\e8d0";
}

.icon-tanhao:before {
  content: "\e8d1";
}

.icon-taolunqu:before {
  content: "\e8d2";
}

.icon-tianjiayouhuiquan:before {
  content: "\e8d3";
}

.icon-tishi:before {
  content: "\e8d4";
}

.icon-tupian:before {
  content: "\e8d5";
}

.icon-weibo:before {
  content: "\e8d6";
}

.icon-wenjuan:before {
  content: "\e8d7";
}

.icon-weixin:before {
  content: "\e8d8";
}

.icon-wodeguanzhu:before {
  content: "\e8d9";
}

.icon-xiangkan:before {
  content: "\e8da";
}

.icon-xiangji:before {
  content: "\e8db";
}

.icon-xiaoxi:before {
  content: "\e8dc";
}

.icon-xiazai:before {
  content: "\e8dd";
}

.icon-xiaoxizhongxin:before {
  content: "\e8de";
}

.icon-yinhangka:before {
  content: "\e8df";
}

.icon-yanjing:before {
  content: "\e8e0";
}

.icon-yixiangkan:before {
  content: "\e8e1";
}

.icon-yingpingmoban:before {
  content: "\e8e2";
}

.icon-yanchu:before {
  content: "\e8e3";
}

.icon-aixin1:before {
  content: "\e8e4";
}

.icon-chenggong:before {
  content: "\e8e5";
}

.icon-dianzan1:before {
  content: "\e8e6";
}

.icon-dianhua:before {
  content: "\e8e7";
}

.icon-bangzhu:before {
  content: "\e8e8";
}

.icon-dianyingpiao1:before {
  content: "\e8e9";
}

.icon-faxian1:before {
  content: "\e8ea";
}

.icon-dingwei:before {
  content: "\e8eb";
}

.icon-gonggao:before {
  content: "\e8ec";
}

.icon-huati1:before {
  content: "\e8ed";
}

.icon-jianshao1:before {
  content: "\e8ee";
}

.icon-huiyuan1:before {
  content: "\e8ef";
}

.icon-pinglun1:before {
  content: "\e8f0";
}

.icon-shequ1:before {
  content: "\e8f1";
}

.icon-shibai:before {
  content: "\e8f2";
}

.icon-shijian:before {
  content: "\e8f3";
}

.icon-shandian1:before {
  content: "\e8f4";
}

.icon-shouye1:before {
  content: "\e8f5";
}

.icon-shouji1:before {
  content: "\e8f6";
}

.icon-tanhao1:before {
  content: "\e8f7";
}

.icon-shoucang1:before {
  content: "\e8f8";
}

.icon-shuju:before {
  content: "\e8f9";
}

.icon-wenda:before {
  content: "\e8fa";
}

.icon-yanjing1:before {
  content: "\e8fb";
}

.icon-xiangji1:before {
  content: "\e8fc";
}

.icon-yinhangyouhui:before {
  content: "\e8fd";
}

.icon-yanchu1:before {
  content: "\e8fe";
}

.icon-youhuiquan:before {
  content: "\e8ff";
}

.icon-remen:before {
  content: "\e900";
}

.icon-leftalignment:before {
  content: "\e810";
}

.icon-rightalignment:before {
  content: "\e811";
}

.icon-tag-subscript:before {
  content: "\e812";
}

.icon-shouqi:before {
  content: "\e813";
}

.icon-zhankai:before {
  content: "\e814";
}

.icon-tongxunlu:before {
  content: "\e815";
}

.icon-becomeagoldsupplier:before {
  content: "\e816";
}

.icon-new:before {
  content: "\e817";
}

.icon-free:before {
  content: "\e818";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-copy:before {
  content: "\e6f3";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-gift:before {
  content: "\e6f9";
}

.icon-integral:before {
  content: "\e6fa";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-column:before {
  content: "\e741";
}

.icon-column1:before {
  content: "\e742";
}

.icon-add:before {
  content: "\e743";
}

.icon-agriculture:before {
  content: "\e744";
}

.icon-add-cart:before {
  content: "\e745";
}

.icon-arrow-right:before {
  content: "\e746";
}

.icon-arrow-lift:before {
  content: "\e747";
}

.icon-all1:before {
  content: "\e748";
}

.icon-arrow-up:before {
  content: "\e749";
}

.icon-ashbin:before {
  content: "\e74a";
}

.icon-bad:before {
  content: "\e74b";
}

.icon-attachent:before {
  content: "\e74c";
}

.icon-browse:before {
  content: "\e74d";
}

.icon-cart-full:before {
  content: "\e74e";
}

.icon-category:before {
  content: "\e74f";
}

.icon-close:before {
  content: "\e750";
}

.icon-certified-supplier:before {
  content: "\e751";
}

.icon-cart-Empty:before {
  content: "\e752";
}

.icon-code1:before {
  content: "\e753";
}

.icon-conditions:before {
  content: "\e754";
}

.icon-company:before {
  content: "\e755";
}

.icon-copy1:before {
  content: "\e756";
}

.icon-credit-level:before {
  content: "\e757";
}

.icon-coupons:before {
  content: "\e758";
}

.icon-connections:before {
  content: "\e759";
}

.icon-clock:before {
  content: "\e75a";
}

.icon-Customermanagement:before {
  content: "\e75b";
}

.icon-double-arro-right:before {
  content: "\e75c";
}

.icon-customization:before {
  content: "\e75d";
}

.icon-double-arrow-left:before {
  content: "\e75e";
}

.icon-discount:before {
  content: "\e75f";
}

.icon-download:before {
  content: "\e760";
}

.icon-ellipsis:before {
  content: "\e761";
}

.icon-email:before {
  content: "\e762";
}

.icon-falling:before {
  content: "\e763";
}

.icon-earth:before {
  content: "\e764";
}

.icon-folder:before {
  content: "\e765";
}

.icon-feeds:before {
  content: "\e766";
}

.icon-history:before {
  content: "\e767";
}

.icon-help:before {
  content: "\e768";
}

.icon-good:before {
  content: "\e769";
}

.icon-gift1:before {
  content: "\e76a";
}

.icon-form:before {
  content: "\e76b";
}

.icon-image-text:before {
  content: "\e76c";
}

.icon-hot:before {
  content: "\e76d";
}

.icon-leftbutton:before {
  content: "\e76e";
}

.icon-jewelry:before {
  content: "\e76f";
}

.icon-ipad:before {
  content: "\e770";
}

.icon-leftarrow:before {
  content: "\e771";
}

.icon-integral1:before {
  content: "\e772";
}

.icon-link:before {
  content: "\e773";
}

.icon-loading:before {
  content: "\e774";
}

.icon-listing-content:before {
  content: "\e775";
}

.icon-lights:before {
  content: "\e776";
}

.icon-messagecenter:before {
  content: "\e777";
}

.icon-mobile-phone:before {
  content: "\e778";
}

.icon-move:before {
  content: "\e779";
}

.icon-namecard:before {
  content: "\e77a";
}

.icon-map:before {
  content: "\e77b";
}

.icon-notice:before {
  content: "\e77c";
}

.icon-office-supplies:before {
  content: "\e77d";
}

.icon-password:before {
  content: "\e77e";
}

.icon-Notvisible1:before {
  content: "\e77f";
}

.icon-operation:before {
  content: "\e780";
}

.icon-phone:before {
  content: "\e781";
}

.icon-pic1:before {
  content: "\e782";
}

.icon-pin:before {
  content: "\e783";
}

.icon-play1:before {
  content: "\e784";
}

.icon-prompt:before {
  content: "\e785";
}

.icon-QRcode1:before {
  content: "\e786";
}

.icon-resonserate:before {
  content: "\e787";
}

.icon-remind:before {
  content: "\e788";
}

.icon-return:before {
  content: "\e789";
}

.icon-rising1:before {
  content: "\e78a";
}

.icon-Rightarrow:before {
  content: "\e78b";
}

.icon-scanning:before {
  content: "\e78c";
}

.icon-security:before {
  content: "\e78d";
}

.icon-salescenter:before {
  content: "\e78e";
}

.icon-seleted:before {
  content: "\e78f";
}

.icon-share:before {
  content: "\e790";
}

.icon-signboard:before {
  content: "\e791";
}

.icon-shuffling-banner:before {
  content: "\e792";
}

.icon-Rightbutton:before {
  content: "\e793";
}

.icon-sound-Mute:before {
  content: "\e794";
}

.icon-sound-filling:before {
  content: "\e795";
}

.icon-suggest:before {
  content: "\e796";
}

.icon-supplier-features:before {
  content: "\e797";
}

.icon-switch:before {
  content: "\e798";
}

.icon-template:before {
  content: "\e799";
}

.icon-text:before {
  content: "\e79a";
}

.icon-task-management:before {
  content: "\e79b";
}

.icon-tool:before {
  content: "\e79c";
}

.icon-Top:before {
  content: "\e79d";
}

.icon-smile:before {
  content: "\e79e";
}

.icon-tradingvolume:before {
  content: "\e79f";
}

.icon-training:before {
  content: "\e7a0";
}

.icon-warning:before {
  content: "\e7a1";
}

.icon-warehouse:before {
  content: "\e7a2";
}

.icon-viewlist:before {
  content: "\e7a3";
}

.icon-sport:before {
  content: "\e7a4";
}

.icon-creditcard:before {
  content: "\e7a5";
}

.icon-aviation:before {
  content: "\e7a6";
}

.icon-Daytimemode:before {
  content: "\e7a7";
}

.icon-insurance:before {
  content: "\e7a8";
}

.icon-nightmode:before {
  content: "\e7a9";
}

.icon-usercenter:before {
  content: "\e7aa";
}

.icon-unlock:before {
  content: "\e7ab";
}

.icon-vip:before {
  content: "\e7ac";
}

.icon-exchangerate:before {
  content: "\e7ad";
}

.icon-add-account:before {
  content: "\e7ae";
}

.icon-add-cart-fill:before {
  content: "\e7af";
}

.icon-add-fill:before {
  content: "\e7b0";
}

.icon-all-fill1:before {
  content: "\e7b1";
}

.icon-ashbin-fill:before {
  content: "\e7b2";
}

.icon-bad-fill:before {
  content: "\e7b3";
}

.icon-bussiness-man-fill:before {
  content: "\e7b4";
}

.icon-cart-full-fill:before {
  content: "\e7b5";
}

.icon-cart-Empty-fill:before {
  content: "\e7b6";
}

.icon-certified-supplier-fill:before {
  content: "\e7b7";
}

.icon-clock-fill:before {
  content: "\e7b8";
}

.icon-coupons-fill:before {
  content: "\e7b9";
}

.icon-cecurity-protection-fill:before {
  content: "\e7ba";
}

.icon-credit-level-fill:before {
  content: "\e7bb";
}

.icon-default-template-fill:before {
  content: "\e7bc";
}

.icon-Customermanagement-fill:before {
  content: "\e7bd";
}

.icon-Daytimemode-fill:before {
  content: "\e7be";
}

.icon-cry-fill:before {
  content: "\e7bf";
}

.icon-email-fill:before {
  content: "\e7c0";
}

.icon-filter-fill:before {
  content: "\e7c1";
}

.icon-folder-fill:before {
  content: "\e7c2";
}

.icon-feeds-fill:before {
  content: "\e7c3";
}

.icon-camera-fill:before {
  content: "\e7c4";
}

.icon-good-fill:before {
  content: "\e7c5";
}

.icon-hot-fill:before {
  content: "\e7c6";
}

.icon-discount-fill:before {
  content: "\e7c7";
}

.icon-insurance-fill:before {
  content: "\e7c8";
}

.icon-leftbutton-fill:before {
  content: "\e7c9";
}

.icon-integral-fill1:before {
  content: "\e7ca";
}

.icon-help1:before {
  content: "\e7cb";
}

.icon-listing-content-fill:before {
  content: "\e7cc";
}

.icon-nightmode-fill:before {
  content: "\e7cd";
}

.icon-office-supplies-fill:before {
  content: "\e7ce";
}

.icon-notice-fill:before {
  content: "\e7cf";
}

.icon-order-fill:before {
  content: "\e7d0";
}

.icon-password1:before {
  content: "\e7d1";
}

.icon-map1:before {
  content: "\e7d2";
}

.icon-phone-fill:before {
  content: "\e7d3";
}

.icon-play-fill1:before {
  content: "\e7d4";
}

.icon-phone1:before {
  content: "\e7d5";
}

.icon-pin-fill:before {
  content: "\e7d6";
}

.icon-product-fill:before {
  content: "\e7d7";
}

.icon-reduce-fill:before {
  content: "\e7d8";
}

.icon-reeor-fill:before {
  content: "\e7d9";
}

.icon-pic-fill1:before {
  content: "\e7da";
}

.icon-product:before {
  content: "\e7db";
}

.icon-prompt-fill1:before {
  content: "\e7dc";
}

.icon-resonserate-fill:before {
  content: "\e7dd";
}

.icon-remind-fill:before {
  content: "\e7de";
}

.icon-Rightbutton-fill:before {
  content: "\e7df";
}

.icon-salescenter-fill:before {
  content: "\e7e0";
}

.icon-save-fill:before {
  content: "\e7e1";
}

.icon-security-fill:before {
  content: "\e7e2";
}

.icon-signboard-fill:before {
  content: "\e7e3";
}

.icon-service-fill:before {
  content: "\e7e4";
}

.icon-shuffling-banner-fill:before {
  content: "\e7e5";
}

.icon-smile-fill:before {
  content: "\e7e6";
}

.icon-success-fill:before {
  content: "\e7e7";
}

.icon-sound-filling-fill:before {
  content: "\e7e8";
}

.icon-sound-Mute1:before {
  content: "\e7e9";
}

.icon-suspended-fill:before {
  content: "\e7ea";
}

.icon-unlock-fill:before {
  content: "\e7eb";
}

.icon-vip-fill:before {
  content: "\e7ec";
}

.icon-set:before {
  content: "\e7ed";
}

.icon-Top-fill:before {
  content: "\e7ee";
}

.icon-voice-fill:before {
  content: "\e7ef";
}

.icon-warning-fill:before {
  content: "\e7f0";
}

.icon-warehouse-fill:before {
  content: "\e7f1";
}

.icon-template-fill:before {
  content: "\e7f2";
}

.icon-Exportservices-fill:before {
  content: "\e7f3";
}

.icon-brand-fill:before {
  content: "\e7f4";
}

.icon-collection:before {
  content: "\e7f5";
}

.icon-collection-fill:before {
  content: "\e7f6";
}

.icon-topraning-fill:before {
  content: "\e7f7";
}

.icon-topraning:before {
  content: "\e7f8";
}

.icon-messagecenter-fill:before {
  content: "\e7f9";
}

.icon-quick:before {
  content: "\e7fa";
}

.icon-home:before {
  content: "\e7fb";
}

.icon-sendinquiry-fill:before {
  content: "\e7fc";
}

.icon-comments-fill:before {
  content: "\e7fd";
}

.icon-account-fill:before {
  content: "\e7fe";
}

.icon-feed-logo-fill:before {
  content: "\e7ff";
}

.icon-feed-logo:before {
  content: "\e800";
}

.icon-home-fill:before {
  content: "\e801";
}

.icon-add-select:before {
  content: "\e802";
}

.icon-sami-select:before {
  content: "\e803";
}

.icon-arrow-down:before {
  content: "\e804";
}

.icon-account:before {
  content: "\e805";
}

.icon-comments:before {
  content: "\e806";
}

.icon-cart-Empty1:before {
  content: "\e807";
}

.icon-favorites:before {
  content: "\e808";
}

.icon-order:before {
  content: "\e809";
}

.icon-usercenter1:before {
  content: "\e80a";
}

.icon-kehupandian:before {
  content: "\e80b";
}

.icon-zhongjianren:before {
  content: "\e80c";
}

.icon-centeralignment:before {
  content: "\e80d";
}

.icon-flag:before {
  content: "\e80e";
}

.icon-falg-fill:before {
  content: "\e80f";
}

