/* pass css */
@font-face {
    font-family: "AlimamaDaoLiTi";
    src: url("../font/AlimamaDaoLiTi.ttf")format("truetype");
}
.cate-pass{display: flex; align-items: center; height:100%;  justify-content: center; width:100%;}
.cate-pass-con{border-radius: 10px; box-shadow: 0 0 14px rgba(221, 221, 221,0.5); width:calc(100% - 50px);}
.cate-pass-content{ text-align:left;  padding:0 25px 50px; }
.cate-pass-img img{ width:100%; border-radius: 10px 10px 0 0;}
.cate-pass-tit{ font-size:16px; line-height:1.6; margin:30px auto;}
.form-group{display: flex; flex-wrap: wrap;  justify-content: flex-start;}
input[type=password].ips{
    color: #999999;
    border: 1px solid #e4eaec;
    border-radius:20px 0  0  20px; 
    width:calc(100% - 60px); 
	line-height:30px;
    padding: 6px 15px;
}
.bth{ width:60px; border-radius: 0 20px 20px 0; background:#2da0f5; border:none; color:#FFFFFF; cursor:pointer;}
input[type=password].ips:focus {
  outline: none; /* 移除默认的聚焦轮廓 */
  border: 1px solid #4A90E2; /* 设置高亮边框 */
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* 添加蓝色阴影以增强高亮效果 */
}